.projectContainder {
  /* display: flex; */
  height: 70vh;
}

.projectButtonSection {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.projectButtonSection button {
  border: none;
  background-color: transparent;
  margin: 0 10px;
  cursor: pointer;
}
